<div class="container">
<app-main-navbar></app-main-navbar>
<h1 style="text-align: center;margin-top: 5%;">Editeur</h1>

<p-editor [(ngModel)]="text2" [style]="{'height':'320px'}">
    <ng-template pTemplate="header">
        <span class="ql-formats">
          <select class="ql-header">
            <option value="1">Heading</option>
            <option value="2">Subheading</option>
            <option selected>Normal</option>
          </select>
          <select class="ql-font">
            <option selected>Sans Serif</option>
            <option value="serif">Serif</option>
            <option value="monospace">Monospace</option>
          </select>
            <button type="button" class="ql-bold" aria-label="Bold"></button>
            <button type="button" class="ql-italic" aria-label="Italic"></button>
            <button type="button" class="ql-underline" aria-label="Underline"></button>
            <button type="button" class="ql-formula" aria-label="Underline"></button>
              <!-- Add font size dropdown -->

  <!-- Add a bold button -->

  <!-- Add subscript and superscript buttons -->
  <button class="ql-script" value="sub"></button>
  <button class="ql-script" value="super"></button>
        </span>
    </ng-template>
</p-editor>
<p>Value: {{text2||'empty'}}</p>
<!-- <ng-katex-html [html]="text2"></ng-katex-html> -->
<!-- <ng-katex-paragraph [paragraph]="text2"></ng-katex-paragraph> -->
<!-- <ng-katex-html [html]="text2"></ng-katex-html> -->
<textarea pInputTextarea [(ngModel)]="text2"></textarea>
<ng-katex-paragraph [paragraph]="text2"></ng-katex-paragraph>
</div>
