<div class="registration-component">
<form action="action_page.php">
  <div class="container">
    <h1>Inscription</h1>
    <p>Veuillez remplir les champs suivants pour crée un nouveau compte.</p>
    <hr>

    <label for="email"><b>Nom</b></label>
    <input type="text" placeholder="Entrer votre Nom" name="email" id="email" required>

    <label for="email"><b>Prenom</b></label>
    <input type="text" placeholder="Entrer votre Prenom" name="email" id="email" required>

    <label for="email"><b>Ville</b></label>
    <input type="text" placeholder="Entrer votre Ville" name="email" id="email" required>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Entrer votre Email" name="email" id="email" required>

    <label for="psw"><b>Mot de passe</b></label>
    <input type="password" placeholder="Entrer votre mot de passe" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Confirmer votre mot de passe</b></label>
    <input type="password" placeholder="Re-entrer votre mot de passe" name="psw-repeat" id="psw-repeat" required>
    <hr>


    <button type="submit" class="registerbtn">Inscription</button>
  </div>

  <div class="container signin">
    <p>Vous posséder déja un compte ? <a href="./login">Se connecter</a>.</p>
  </div>
</form>
</div>
