<app-main-navbar></app-main-navbar>

<div class="container" style=" margin-top: 6%;">
  <h1 style="margin: 2%;text-align: center;">Gestion des Chapitres</h1>
  <p-toast></p-toast>
  <nz-table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom du Chapitre</th>
      <th>Date de création</th>
      <th>Date de mise à jour</th>
      <th><!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" (click)="onCreateNewElement()">
          Ajouter un nouveau Chapitre
        </button>


      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let response of crud.responses" >
      <td>{{response.id}}</td>
      <td>{{response.name}}</td>
      <td>{{response.created_at}}</td>
      <td>{{response.updated_at}}</td>
      <td>
        <button type="button" class="btn btn-info" style="margin-right: 2%;" (click)="onClickAfficherBtn(response.id)">Afficher</button>
        <button class="btn btn-warning " style="margin-right: 2%;"data-bs-toggle="modal" data-bs-target="#modifierModal" (click)="crud.id=response.id">Modifier</button><button class="btn btn-danger"  (click)="onDeleteElement(response.id)" >Supprimer</button></td>
    </tr>
    </tbody>
  </nz-table>
</div>
