<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#" (click)="onLoadMainPage()">
        <img src="./assets/medecineconcourslogo.png" width="112" height="28">

      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="" class="navbar-item" style="text-decoration: none;">
          Qui sommes nous ?
        </a>

        <a class="navbar-item" style="text-decoration: none;">
          Présentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" style="text-decoration: none;">
            Options
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadeditorPage()">
              Editeur
            </a>


            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadgestionFiliere()">
              Gestion des filiéres
            </a>
            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadgestionNiveaux()">
              Gestion des Niveaux
            </a>
            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadgestionMatieres()">
              Gestion des Matières
            </a>
            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadgestionCycles()">
              Gestion des Cycles
            </a>
            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadCorbeilleMatiere()">
              Corbeille Matiere
            </a>
            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadGestionPack()">
              Gestion des packs
            </a>
            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadGestionCours()">
              Gestion des cours
            </a>
            <a class="navbar-item" style="text-decoration: none;" (click)="onLoadGestionChapitres()">
              Gestion des chapitres
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary is-rounded" style="text-decoration: none;" (click)="onLoadInscriptionPage()">
              <strong>S'inscrire</strong>
            </a>
            <a class="button is-light is-rounded" style="text-decoration: none;" (click)="onLoadLoginPage()">
              Se connecter
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
