<app-main-navbar></app-main-navbar>
<div class="container" style="margin-top: 6%">

  <div class="mb-3">
    <label class="form-label">Nom du Pack :</label>
    <br>
    <input type="text" pInputText class="p-inputtext-sm" placeholder="Small">
<br>
    <label for="exampleFormControlInput1" class="form-label">Cycles :  </label>
    <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->
    <br>

    <label for="exampleFormControlInput1" class="form-label">Niveaux :  </label>
    <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->
    <br>

    <label for="exampleFormControlInput1" class="form-label">Filiéres :  </label>
    <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->
    <br>

    <label for="exampleFormControlInput1" class="form-label">Matiéres :  </label>
    <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->
    <br>

  </div>
</div>
