<app-main-navbar></app-main-navbar>

<div class="container" style=" margin-top: 6%;">
  <h1 style="margin: 2%;text-align: center;">Gestion des Matières</h1>

<nz-table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom de la matière</th>
      <th>Date de création</th>
      <th>Date de mise à jour</th>
      <th><!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Ajouter une nouvelle matière
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ajouter une nouvelle matière</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input nz-input placeholder="Nom de la matière" [(ngModel)]="crud.sendData.name" />
                <button class="btn btn-primary" (click)="onCreateNewElement()" >envoyer</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onCreateNewElement()">Sauvegarder</button>
              </div>
            </div>
          </div>
        </div>
      <!-- Modal Modifier -->
<div class="modal fade" id="modifierModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier niveau</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input nz-input placeholder="Nom de la filiere" [(ngModel)]="crud.sendData.name" />
                <button class="btn btn-primary" (click)="onUpdateElement()" >envoyer</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onUpdateElement()">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
      </th>
    </tr>
  </thead>
  <tbody>
 <tr *ngFor="let response of crud.responses" >
  <td>{{response.id}}</td>
  <td>{{response.name}}</td>
  <td>{{response.created_at}}</td>
  <td>{{response.updated_at}}</td>
  <td><button class="btn btn-warning " style="margin-right: 2%;"data-bs-toggle="modal" data-bs-target="#modifierModal" (click)="crud.id=response.id">Modifier</button><button class="btn btn-danger"  (click)="onDeleteElement(response.id)" >Supprimer</button></td>
 </tr>
  </tbody>
</nz-table>
</div>
