<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="./assets/SCHOOLMOUVLOGO.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="" class="navbar-item" style="text-decoration: none;">
          Qui sommes nous ?
        </a>
  
        <a class="navbar-item" style="text-decoration: none;">
          Présentation
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" style="text-decoration: none;">
            Matiéres
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" style="text-decoration: none;">
              Math
            </a>
            <a class="navbar-item" style="text-decoration: none;">
              Physique
            </a>
            <a class="navbar-item" style="text-decoration: none;">
              Chimie
            </a>
            
            <a class="navbar-item" style="text-decoration: none;">
              Sciences de la vie et de la terre
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary is-rounded" style="text-decoration: none;">
              <strong>S'inscrire</strong>
            </a>
            <a class="button is-light is-rounded" style="text-decoration: none;">
              Se connecter
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="section1">
    <div class="myDiv">
        <h1 class="myText">Bonjour !</h1>
      </div>
  </div>
<div class="matiereCards">
    <h1 style="text-align: center; margin: 3rem;">Matiéres</h1>
  <div class="row">
<div class="col">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/jeswin-thomas-hecib2an4T4-unsplash.jpg" alt="Card image cap" width="500" height="300">
    <div class="card-body">
      <h5 class="card-title">Mathematiques</h5>
      <p class="card-text"></p>
      <a href="#" class="button is-info is-rounded" style="text-decoration: none;">Afficher</a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/nicolas-thomas-3GZi6OpSDcY-unsplash.jpg" alt="Card image cap" width="500" height="300">
    <div class="card-body">
      <h5 class="card-title">Physique</h5>
      <p class="card-text"></p>
      <a href="#" class="button is-info is-rounded" style="text-decoration: none;">Afficher</a>
    </div>
  </div>
</div>
  <div class="col">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/alex-kondratiev-H9t723yPjYI-unsplash.jpg" alt="Card image cap" width="500" height="300">
    <div class="card-body">
      <h5 class="card-title">Chimie</h5>
      <p class="card-text"></p>
      <a href="#" class="button is-info is-rounded" style="text-decoration: none;">Afficher</a>
    </div>
  </div>
</div>
  <div class="col">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/sharon-pittaway-4_hFxTsmaO4-unsplash.jpg" alt="Card image cap" width="500" height="300">
    <div class="card-body">
      <h5 class="card-title">Sciences de la vie et de la terre</h5>
      <p class="card-text"></p>
      <a href="#" class="button is-info is-rounded" style="text-decoration: none;">Afficher</a>
    </div>
</div>
  </div>
</div>
</div>

