<app-main-navbar></app-main-navbar>
  <div class="section1">
    <div class="myDiv">
        <h1 class="myText">l’indispensable pour réussir sa scolarité !</h1>
        <h3 class="myparagraphe">Accompagnement pédagogique pour le collège et le lycée
          Cours en ligne de toutes les matières de la 6e à la Terminale avec des vidéos, des fiches, des exercices interactifs…</h3>
      </div>
  </div>
<div class="matiereCards">
    <h1 style="text-align: center; margin: 3rem;">Matiéres</h1>
  <div class="row">
<div class="col">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/jeswin-thomas-hecib2an4T4-unsplash.jpg" alt="Card image cap" width="500" height="300">
    <div class="card-body">
      <h5 class="card-title">Mathematiques</h5>
      <p class="card-text"></p>
      <a href="#" class="button is-info is-rounded" style="text-decoration: none;">Afficher</a>
    </div>
  </div>
</div>
<div class="col">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/nicolas-thomas-3GZi6OpSDcY-unsplash.jpg" alt="Card image cap" width="500" height="300">
    <div class="card-body">
      <h5 class="card-title">Physique</h5>
      <p class="card-text"></p>
      <a href="#" class="button is-info is-rounded" style="text-decoration: none;">Afficher</a>
    </div>
  </div>
</div>
  <div class="col">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/alex-kondratiev-H9t723yPjYI-unsplash.jpg" alt="Card image cap" width="500" height="300">
    <div class="card-body">
      <h5 class="card-title">Chimie</h5>
      <p class="card-text"></p>
      <a href="#" class="button is-info is-rounded" style="text-decoration: none;">Afficher</a>
    </div>
  </div>
</div>
  <div class="col">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/sharon-pittaway-4_hFxTsmaO4-unsplash.jpg" alt="Card image cap" width="500" height="300">
    <div class="card-body">
      <h5 class="card-title">Sciences de la vie et de la terre</h5>
      <p class="card-text"></p>
      <a href="#" class="button is-info is-rounded" style="text-decoration: none;">Afficher</a>
    </div>
</div>
  </div>
</div>
</div>
<app-footer-component></app-footer-component>

