<app-main-navbar></app-main-navbar>
<!-- side bar start -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100%;float: left;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item" *ngFor="let matiereElement of responsesMatieres">
      <a href="#" class="nav-link" aria-current="page">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        {{matiereElement.name}}
      </a>
    </li>

  </ul>
  <hr>
<button class="btn btn-warning">Se deconnecter</button>
</div>
<!-- side bar finish -->
<div class="accordion" id="accordionExample" style="float: left; width: 80%; margin-top: 5%">
  <div class="accordion-item" *ngFor="let coursElement of responsesCours">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        {{coursElement.name}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="album py-5 bg-light">
          <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col" *ngFor="let chapitreElement of responsesChapitres">
                <div class="card shadow-sm">
                  <iframe src="https://player.vimeo.com/video/569709889?h=0a71b5a904" width="640" height="270" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="width: 100%"></iframe>


                  <div class="card-body">
                    <p class="card-text">{{chapitreElement.name}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
